<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jobcollection.modules.system.mapper.CourseMapper">
    <select id="listCourseByUserId" resultType="me.jobcollection.modules.system.domain.Course">
        SELECT DISTINCT c.id,
                        c.name
        FROM sys_job j
                 LEFT JOIN sys_dept_job dj ON dj.job_id = j.job_id
                 LEFT JOIN sys_course c ON c.id = j.course_id
                 LEFT JOIN sys_dept_user du ON du.dept_id = dj.dept_id
        WHERE du.user_id = #{UserId}
    </select>
    <select id="listCourse" resultType="me.jobcollection.modules.system.domain.Course">
        SELECT c.id,
               c.name,
               c.teacher,
               c.template,
               c.remark
        FROM sys_course c
        <where>
            <if test="keyword != null">
                AND c.name LIKE concat('%',#{keyword},'%')
            </if>
            <if test="teacher != null">
                AND c.teacher=#{teacher}
            </if>
        </where>
    </select>
</mapper>